@import "tailwindcss";

html[data-platform="desktop"] {
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

@theme {
  --color-foreground: oklch(92.8% 0.006 264.531);
  --color-secondary: oklch(87.2% 0.01 258.338);
  --color-muted: oklch(37.2% 0.044 257.287);
  --color-muted-foreground: oklch(70.7% 0.022 261.325);
  --color-border: oklch(37.2% 0.044 257.287);
  --color-background: oklch(20.8% 0.042 265.755);

  --color-primary: oklch(62.3% 0.214 259.815);
  --color-primary-foreground: oklch(98.5% 0.002 247.839);
  --color-destructive: oklch(58.6% 0.253 17.585);
  --color-destructive-foreground: oklch(98.5% 0.002 247.839);
  
  --color-background-primary: oklch(12.9% 0.042 264.695);
  --color-background-secondary: oklch(20.8% 0.042 265.755);

  --color-success: oklch(72.3% 0.219 149.579);
}
